<div class="edit-review">
  <form data-id="{{id}}" data-bind="reviews#update">

      <label for="review-title">Title</label><br />

        <input id="title" type="text" name="title" value="{{title}}" data-attribute="title" data-bind="blur:reviews#save"><br />

      <label for="review-description">Description</label><br />

        <textarea name="description" data-attribute="description" data-bind="blur:reviews#save">{{description }}</textarea><br />
    <input type="submit" name="commit" value="Done">
    or
    <a href="#/reviews">Cancel</a>
  </form>
</div>