<ul>
  <li><a href="#/reviews/new">Add New Review</a></li>
</ul>

{{^reviews}}
  <p>You haven't posted any reviews yet.</p>
{{/reviews}}

{{#reviews}}
  <div data-id="{{id}}" class="review">
        <h3 data-attribute="title">
          <a href="#/reviews/{{id}}">
            {{title}}
          </a>
        </h3>

    <a href="#" data-bind="reviews#destroy">Delete</a>
  </div>
{{/reviews}}