<div id="new-review">
  <form data-id="{{id}}" data-bind="reviews#create">

      <label for="review-title">Title</label><br />

        <input id="title" type="text" name="title" value="{{title}}" data-attribute="title" data-bind="blur:reviews#save_new"><br />

      <label for="review-description">Description</label><br />

        <textarea name="description" data-attribute="description">{{description }}</textarea><br />
    <input type="submit" name="commit" value="Save">
    or
    <a href="#" data-controller="reviews#cancel_edit">Cancel</a>
  </form>
</div>